[submodule "tls-fingerprint-echo"]
	path = tls-fingerprint-echo
	url = https://github.com/traumwohnung/tls-fingerprint-echo
[submodule "httpcloak-patched"]
	path = httpcloak-patched
	url = https://github.com/traumwohnung/httpcloak
	branch = traumwohnung
